<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigSymbolBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{142,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,450}}</string>
                <key>sourceSize</key>
                <string>{142,450}</string>
            </dict>
            <key>bigSymbolBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{142,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,450}}</string>
                <key>sourceSize</key>
                <string>{142,450}</string>
            </dict>
            <key>bigSymbolBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,450}}</string>
                <key>sourceSize</key>
                <string>{142,450}</string>
            </dict>
            <key>smallSymbol1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,260},{26,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol10.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,312},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,204},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol12.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,234},{26,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,282},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol21.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,174},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol22.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,256},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol23.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,202},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,338},{20,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,308},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,330},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{22,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol6.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,286},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,354},{18,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{18,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol8.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,174},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>smallSymbol9.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,230},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>symbol1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,434},{138,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{138,134}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,910},{102,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{102,110}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{110,112}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,806},{124,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{124,108}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{130,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{130,138}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol21.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,654},{114,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{114,132}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{114,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{114,132}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol23.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,570},{132,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{132,114}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{102,142}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,434},{106,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{106,138}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,542},{110,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{110,136}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,686},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{118,126}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,434},{80,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{80,118}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{124,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{124,122}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbol9.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,888},{106,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{106,118}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>symbolBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,770},{118,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,116}}</string>
                <key>sourceSize</key>
                <string>{118,116}</string>
            </dict>
            <key>symbolFlagBonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,38}</string>
            </dict>
            <key>symbolFlagFree.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,96},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>symbolFlagWild.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,360},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elem.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f858ef8d4805a85a1e53e348719e05be:1/1$</string>
            <key>textureFileName</key>
            <string>elem.png</string>
        </dict>
    </dict>
</plist>
