<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_bg_toiuming_heji.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,720},{273,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,273}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>dt_btn_bchmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,352},{177,193}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{177,193}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_cow.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,352},{177,199}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{177,199}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_dantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{179,169}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{179,169}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{179,193}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{179,193}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_gushen.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,175},{175,185}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{175,185}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_jlmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{179,163}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,47},{179,163}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_jss.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,539},{179,187}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{179,187}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_klsf.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,531},{177,189}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{177,189}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_ks.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,352},{177,185}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{177,185}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,531},{177,191}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{177,191}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_lucky25.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,710},{181,191}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{181,191}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_lymj.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{177,171}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{177,171}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_majiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,175},{175,175}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{175,175}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_mjhj.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{175,171}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{175,171}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_pdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,710},{183,201}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{183,201}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_qqhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,173},{173,173}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{173,173}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_scmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{177,171}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{177,171}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_sgpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{181,179}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{181,179}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_sls.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,175},{175,187}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{175,187}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_symj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{175,179}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{175,179}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_tuidaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,352},{175,189}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{175,189}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_wodeshijiebei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{181,171}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{181,171}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_btn_xyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,529},{177,189}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{177,189}}</string>
                <key>sourceSize</key>
                <string>{183,211}</string>
            </dict>
            <key>dt_img_heji_quan_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>dt_img_heji_quan_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_lobby_gameMenu.png</string>
            <key>size</key>
            <string>{949,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf4a0321d9441b24d619eee42dbe77f8:1/1$</string>
            <key>textureFileName</key>
            <string>p_lobby_gameMenu.png</string>
        </dict>
    </dict>
</plist>
