<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_btn_wxdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{335,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,105}}</string>
                <key>sourceSize</key>
                <string>{335,105}</string>
            </dict>
            <key>dt_btn_ykdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,804},{335,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,104}}</string>
                <key>sourceSize</key>
                <string>{335,104}</string>
            </dict>
            <key>dt_btn_zhdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,697},{335,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,105}}</string>
                <key>sourceSize</key>
                <string>{335,105}</string>
            </dict>
            <key>dt_loading_6anniversary_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,697},{265,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,22},{265,207}}</string>
                <key>sourceSize</key>
                <string>{321,251}</string>
            </dict>
            <key>dt_loading_6anniversary_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,388},{160,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,43}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>dt_loading_7anniversary.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,388},{501,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,175}}</string>
                <key>sourceSize</key>
                <string>{501,175}</string>
            </dict>
            <key>dt_loading_eff_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,839},{64,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,15}}</string>
                <key>sourceSize</key>
                <string>{64,15}</string>
            </dict>
            <key>loading_ani_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,663},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>loading_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,766},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading_btn_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,388},{273,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,77}}</string>
                <key>sourceSize</key>
                <string>{273,77}</string>
            </dict>
            <key>loading_slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{835,15}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{835,15}}</string>
                <key>sourceSize</key>
                <string>{841,19}</string>
            </dict>
            <key>loading_slide_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{841,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{841,19}}</string>
                <key>sourceSize</key>
                <string>{841,19}</string>
            </dict>
            <key>publish_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,264},{562,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,122}}</string>
                <key>sourceSize</key>
                <string>{562,122}</string>
            </dict>
            <key>publish_logo_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,140},{573,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,122}}</string>
                <key>sourceSize</key>
                <string>{573,122}</string>
            </dict>
            <key>publish_slogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{594,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,136}}</string>
                <key>sourceSize</key>
                <string>{594,136}</string>
            </dict>
            <key>publish_slogan_zq.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,565},{536,130}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{536,130}}</string>
                <key>sourceSize</key>
                <string>{594,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_logo.png</string>
            <key>size</key>
            <string>{688,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:231dcbac3c55004f402667e157bfbbe8:b6f2e392c9b50bf16b4d1734b9ba8402:aaee239b79e1610ddd46433136b69488$</string>
            <key>textureFileName</key>
            <string>p_logo.png</string>
        </dict>
    </dict>
</plist>
